@tailwind base;
@tailwind components;
@tailwind utilities;

code {
    color: #5A5A5A;
    background: #FAFAFA;
    margin: 0 0.2rem;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
    margin-top: 2rem;
    font-size: 2rem;
}

h5 {
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 1.775rem;
}

ol {
    margin-top: 0.5rem !important;
    list-style: disc;
    padding-left: 3rem;
}

p {
    margin: 0.5rem 0 !important;
    font-size: 1.25rem;
}